<div *ngIf="undefined === myTimeline">Loading...</div>
<div *ngIf="undefined !== myTimeline">
  <div [ngClass]="{ 'dark-theme': isDarkTheme | async }">
    <div class="container">
      <h3 class="col-md-12">Twitter Timeline</h3>
      <a
        href="https://twitter.com/muralidharan10?ref_src=twsrc%5Etfw"
        class="twitter-follow-button"
        data-show-count="false"
        >Follow @muralidharan10</a
      ><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <div class="twitterwidget">
        <ng-container *ngFor="let tweets of myTimeline.data">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar>
                <img src="{{ tweets.user.profile_image_url }}" />
              </div>
            </mat-card-header>
            <mat-card-content>
              <h3 class="col-md-12">{{ tweets.full_text }}</h3>
              <div class="row">
                <div class="col-md-6">
                  <p>{{ tweets.user.name }}</p>
                </div>
                <div class="col-md-6">
                  <p>{{ tweets.user.location }}</p>
                </div>
              </div>
              <p>{{ tweets.user.description }}</p>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
