<div *ngIf="undefined === myTimeline">Loading...</div>
<div *ngIf="undefined !== myTimeline">
  <div [ngClass]="{ 'dark-theme': isDarkTheme | async }">
    <div class="container">
      <!-- <h3 class="col-md-12">
          <img height="20" width="20" [src]="dark-theme ? pictureDarkUrl : pictureLightUrl"/>
      </h3> -->
      <a
        href="https://twitter.com/muralidharan10?ref_src=twsrc%5Etfw"
        class="twitter-follow-button"
        data-show-count="false"
        >Follow &#64;muralidharan10</a
      ><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <div class="twitterwidget">
        <ng-container class="col-md-6" *ngFor="let tweets of myTimeline.data">
          <mat-card>
            <mat-card-content>
              <div mat-card-avatar>
                <img src="{{ tweets.user.profile_image_url }}"/>
              </div>
              <div>{{tweets.user.created_at | date}}</div>
              <h3>{{ tweets.full_text }}</h3>
              <!-- <div class="row">
                <div class="col-md-6">
                  <p>{{ tweets.user.name }}</p>
                </div>
                <div class="col-md-6">
                  <p>{{ tweets.user.location }}</p>
                </div>
              </div> -->
              <!-- <p>{{ tweets.user.description }}</p> -->
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
