<div [ngClass]="{ 'dark-theme': isDarkTheme | async }">
  <div class="container-fluid mat-app-background jumbotron text-center">
    <h3>
      <img class="logo" src="assets/icon.png" alt="logo" />
      <span>Muralidharan Nandakumar</span>
    </h3>
    <mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)"></mat-slide-toggle>
    <app-loader [isLoading]="isLoading"></app-loader>
    <!-- <q [hidden]="isLoading">{{ quote }}</q> -->
    <div [ngClass]="{ 'dark-theme': isDarkTheme | async }">
      <a
        [ngClass]="{ 'dark-theme': isDarkTheme | async }"
        data-width="300"
        data-height="300"
        class="twitter-timeline"
        href="https://twitter.com/TwitterDev"
        >Tweets by TwitterDev</a
      >
    </div>
    <!-- <div class="wrap">
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
      width="300.000000pt" height="100.000000pt" viewBox="0 0 300.000000 100.000000"
      preserveAspectRatio="xMidYMid meet">
     <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)"
     fill="#000000" stroke="none">
     </g>
     </svg>
    </div> -->
  </div>
</div>
