<div [ngClass]="{ 'dark-theme': isDarkTheme | async }">
  <div class="container-fluid mat-app-background jumbotron text-center">
    <h3>
      <img class="logo" src="assets/icon.png" alt="logo" />
      <span>Muralidharan Nandakumar</span>
    </h3>
    <mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)"></mat-slide-toggle>
    <app-loader [isLoading]="isLoading"></app-loader>
    <!-- <q [hidden]="isLoading">{{ quote }}</q> -->
    <ngx-twitter-timeline
      class="text-center"
      [data]="{ sourceType: 'url', url: 'https://twitter.com/muralidharan10' }"
      [opts]="optionString"
    ></ngx-twitter-timeline>
  </div>
</div>
