<div [ngClass]="{ 'dark-theme': isDarkTheme | async }">
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="#">
          Muralidharan Nandakumar
        </a>
        <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
          <h3>Murali</h3>
        </a>
        <div class="w-100 text-right">
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                      <span class="navbar-toggler-icon"></span>
                  </button> -->
        </div>
      </div>
      <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <li class="nav-item">
            <a href="#" class="nav-link m-2 menu-item nav-active">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a href="http://blog.muralidharan.me" class="nav-link m-2 menu-item">Blog</a>
          </li> -->
        </ul>
      </div>
    </nav>
  </div>
  <div class="container-fluid mat-app-background jumbotron text-center">
    <h3>
      <!-- <img class="logo" src="assets/icon.png" alt="logo" /> -->
      <span></span>
    </h3>
    <mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)"></mat-slide-toggle>
    <hr />
    <!-- <q [hidden]="isLoading">{{ quote }}</q> -->
    <div class="container">
      <div class="col-lg-12">
        <div class="col-lg-12 text-center">
          <p>Software Developer. Excited About IoT, Cloud Technologies.</p>
          <p>I am skilled at .Net Core, Xamarin, HTML5, Angular. I dabble in Python and Flutter</p>
        </div>
      </div>
    </div>

    <div class="container">
      <hr />
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <a href="https://www.linkedin.com/in/muralidharannandakumar/">
            <h3>
              <small>
                <strong>LinkedIn</strong>
              </small>
            </h3>
            <!-- <img class="img-responsive img-full" Height="100px" src="./assets/img/linkedin.png" alt=""> -->
          </a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <a href="https://github.com/murali0009">
            <h3>
              <small>
                <strong>Github</strong>
              </small>
            </h3>
            <!-- <img class="img-responsive img-full" Height="100px" src="./assets/img/github.png" alt=""> -->
          </a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 text-center">
          <a href="https://drive.google.com/file/d/1IAv2owYixuNpsWdLFr4ymPO6_oV1zkND/view">
            <h3>
              <small>
                <strong>Résumé</strong>
              </small>
            </h3>
            <!-- <img class="img-responsive img-full" Height="100px" src="./assets/img/github.png" alt=""> -->
          </a>

        </div>
      </div>
      <hr />
      <div class="col-md-12">
        <app-twitter-widget></app-twitter-widget>
      </div>
    </div>
  </div>
</div>
